{% extends "base.html" %} 
{% block title %} Последние обновления {% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                        {% include "includes/author_card.html" %}
            <div class="col-md-9">                
                        {% include "includes/body_card.html" %}
                <!-- Конец блока с отдельным постом --> 

                <!-- Остальные посты -->  

                <!-- Здесь постраничная навигация паджинатора -->
                {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}
     </div>
    </div>
</main>
{% endblock %}